<!-- Search Tab-->
<div class="tab-pane active" id="searchContentId" name="searchContentName" role="tabpanel">
    <div id="searchFormDivId" name="searchFormDivName">
        <form [formGroup]="searchForm">
            <input type="hidden"/>
            <fieldset>
                <div class="search-bar">
                    <div class="row margin-0">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="input-group buscador-principal">
                                    <input id="pageNumber" name="pageNumber" type="text" hidden="hidden"/>
                                    <input id="totalPageCount" name="totalPageCount" type="text" hidden="hidden"/>
                                    <input id="totalBibRecordsCount" name="totalBibRecordsCount" type="text"
                                           hidden="hidden"/>
                                    <input id="totalItemRecordsCount" name="totalItemRecordsCount" type="text"
                                           hidden="hidden"/>
                                    <button id="pageSizeChangeButtonId" name="action" type="submit"
                                            value="pageSizeChange" hidden="hidden"></button>
                                    <div>
                                        <div class="has-feedback">
                                            <input class="form-control" id="fieldValue" name="fieldValue" type="search"
                                                   (keyup)="clearFieldvalue()"
                                                   (paste)="onPasteHandler($event.clipboardData.getData('text/plain'))"
                                                   formControlName="fieldValue" placeholder="Type Text Here....."
                                                   autofocus="autofocus"/>
                                            <span *ngIf="clearSearchTextCross"
                                                  class="add-clear-x form-control-feedback glyphicon glyphicon-remove"
                                                  id="clearSearchText" style="
                          color: rgb(12, 12, 12);
                          cursor: pointer;
                          text-decoration: none;
                          overflow: hidden;
                          position: absolute;
                          pointer-events: auto;
                          right: 0px;
                          top: 4px;
                          z-index: 100;
                          display: block;
                        " (click)="clearSearchText()"></span>
                                        </div>
                                    </div>
                                    <div class="input-group-btn search-panel">
                                        <select
                                                class="form-control btn themed-button themed-button-allfields dropdown-toggle"
                                                id="allfields" formControlName="fieldName" (change)="checkFieldValue()"
                                                style="width: 170px; border-left-width: 0px">
                                            <option value="">All Fields</option>
                                            <option *ngFor="let fld of searchfieldval" [value]="fld.id">
                                                {{ fld.name }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="input-group-btn padding-right-10">
                                        <button class="btn themed-button" id="search" name="action" type="button"
                                                (click)="searchRecord()" value="search">
                                            Search
                                        </button>
                                    </div>
                                    <div class="input-group-btn padding-right-10">
                                        <button class="btn themed-button themed-button-cancel" id="resetSearch"
                                                name="action" type="button" [disabled]="!searchForm.dirty"
                                                (click)="onReset()" value="newSearch">
                                            Reset Search
                                        </button>
                                    </div>

                                    <div class="input-group-btn">
                                        <button class="btn themed-button themed-button-facet dropdown-toggle"
                                                type="button" (click)="facetsshowhide()">
                                            <span class="pull-left" id="showFacets">Show Facets</span>
                                            <span class="glyphicon glyphicon-menu-down small pull-right"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row collapse" id="search-filter"
                                 style="padding-top: 10px; padding-bottom: 15px">
                                <div class="col-xs-2" style="margin-top: 50px">
                                    <div class="allfacet">
                                        <label>
                                            <input class="facetCheckBox" id="selectAllFacets" name="selectAllFacets"
                                                   type="checkbox" [checked]="checked" value
                                                   (click)="checkUncheckAll()"/>
                                            <span class="cr margin-top-15"></span>
                                            <span class="facet-text" name="selectAndUnselect">&nbsp;Select / Unselect
                                                All Facets
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-4 padding-left-30 padding-btm-30" style="padding-bottom: 0px">
                                    <div class="row">
                                        <h2 style="margin-top: 0px; margin-bottom: 0px">
                                            Bib Facets
                                        </h2>
                                    </div>
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-xs-4" name="ownigInst">
                                                <h4>Owning Institution</h4>
                                                <div class="row padding-left-15">
                                                    <div *ngFor="let inst of instVal">
                                                        <label>
                                                            <input class="facetCheckBox" type="checkbox"
                                                                   value="{{ inst }}" (change)="
                                  onChange($event.target.checked, inst);
                                  enableResetSearch($event.target.checked)
                                " [checked]="checkedItem(inst)"/>
                                                            <span class="cr"></span>
                                                            &nbsp;{{ inst }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <h4>Material Type</h4>
                                                <div>
                                                    <label>
                                                        <input class="facetCheckBox" id="monograph" name="monograph"
                                                               type="checkbox" formControlName="Monograph"
                                                               [checked]="checked" value="Monograph"/>
                                                        <span class="cr"></span>

                                                        &nbsp;Monograph
                                                    </label>
                                                </div>
                                                <div>
                                                    <label>
                                                        <input class="facetCheckBox" id="serials" name="serials"
                                                               type="checkbox" formControlName="Serial"
                                                               [checked]="checked"
                                                               value="Serial"/>
                                                        <span class="cr"></span>

                                                        &nbsp;Serials
                                                    </label>
                                                </div>
                                                <div>
                                                    <label>
                                                        <input class="facetCheckBox" id="others" name="others"
                                                               type="checkbox" formControlName="others"
                                                               [checked]="checked"
                                                               value="Other"/>
                                                        <span class="cr"></span>

                                                        &nbsp;Others
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <h4>Title Match</h4>
                                                <div>
                                                    <label>
                                                        <input class="facetCheckBox" id="matched" name="matched"
                                                               type="checkbox" formControlName="matched"
                                                               [checked]="checked" value="Matched"/>
                                                        <span class="cr"></span>

                                                        &nbsp;Matched
                                                    </label>
                                                </div>
                                                <div>
                                                    <label>
                                                        <input class="facetCheckBox" id="notMatched" name="notMatched"
                                                               type="checkbox" formControlName="notMatched"
                                                               [checked]="checked" value="Not Matched"/>
                                                        <span class="cr"></span>

                                                        &nbsp;Not Matched
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 padding-left-30 padding-btm-30 border-style-left-white"
                                     style="padding-bottom: 0px">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h2 style="margin-top: 0px; margin-bottom: 0px">
                                                Item Facets
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <h4>Collection Group</h4>
                                            <div class="row padding-left-15">
                                                <div *ngFor="let cgd of cgdVal">
                                                    <label>
                                                        <input class="facetCheckBox" type="checkbox" value="{{ cgd }}"
                                                               (change)="
                              onChangeCGD($event.target.checked, cgd);
                              enableResetSearch($event.target.checked)
                            " [checked]="checkedItemCGD(cgd)"/>
                                                        <span class="cr"></span>
                                                        &nbsp;{{ cgd }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <h4>Availability</h4>
                                            <div>
                                                <label>
                                                    <input class="facetCheckBox" id="available" name="available"
                                                           type="checkbox" formControlName="Available"
                                                           [checked]="checked"
                                                           value="Available"/>
                                                    <span class="cr"></span>

                                                    &nbsp;In
                                                </label>
                                            </div>
                                            <div>
                                                <label>
                                                    <input class="facetCheckBox" id="notAvailable" name="notAvailable"
                                                           type="checkbox" formControlName="notAvailable"
                                                           [checked]="checked" value="NotAvailable"/>
                                                    <span class="cr"></span>

                                                    &nbsp;Out
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <h4>Use Restriction</h4>
                                            <div>
                                                <label>
                                                    <input class="facetCheckBox" id="noRestriction" name="noRestriction"
                                                           type="checkbox" formControlName="NoRestrictions"
                                                           [checked]="checked" value="NoRestrictions"/>
                                                    <span class="cr"></span>

                                                    &nbsp;No Restriction
                                                </label>
                                            </div>
                                            <div>
                                                <label>
                                                    <input class="facetCheckBox" id="inLibraryUse" name="inLibraryUse"
                                                           type="checkbox" formControlName="InLibraryUse"
                                                           [checked]="checked" value="InLibraryUse"/>
                                                    <span class="cr"></span>

                                                    &nbsp;In Library Use
                                                </label>
                                            </div>
                                            <div>
                                                <label>
                                                    <input class="facetCheckBox" id="supervisedUse" name="supervisedUse"
                                                           type="checkbox" formControlName="SupervisedUse"
                                                           [checked]="checked" value="SupervisedUse"/>
                                                    <span class="cr"></span>

                                                    &nbsp;Supervised Use
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <h4>Storage Location</h4>
                                            <div class="row padding-left-15">
                                                <div *ngFor="let storagelocation of storageLocationVal">
                                                    <label>
                                                        <input class="facetCheckBox" type="checkbox"
                                                               value="{{ storagelocation }}" (change)="
                              onChangeStorageLocation($event.target.checked, storagelocation);
                              enableResetSearchStorageLocation($event.target.checked)
                            " [checked]="checkedItemStorageLocation(storagelocation)"/>
                                                        <span class="cr"></span>
                                                        &nbsp;{{ storagelocation }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-results-container" *ngIf="showresultdiv">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="divider-horizontal margin-top-10 margin-btm-10"></div>
                            <div class="row margin-btm-10" *ngIf="errorMessage_Div">
                                <div class="col-sm-12">
                                    <div class="bg-danger text-danger padding-10">
                                        <span
                                                class="margin-right-05 glyphicon glyphicon-warning-sign"></span><span>{{ searchVal["errorMessage"] }}</span>
                                    </div>
                                </div>
                            </div>
                            <div id="searchResultsDiv" name="searchResultsDiv" *ngIf="searchResultsDiv">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="pull-left margin-btm-0 margin-right-35"
                                             style="margin-top: -20px; margin-bottom: -10px">
                                            <div id="paginationId" name="paginationName">
                                                <ul class="pagination">
                                                    <li [ngClass]="firstbutton == true ? 'disabled' : ''">
                                                        <span id="btm_first" (click)="firstClick()"
                                                              style="cursor: pointer">First</span>
                                                    </li>
                                                    <li [ngClass]="previousbutton == true ? 'disabled' : ''">
                                                        <span id="btm_previous" (click)="previousClick()"
                                                              style="cursor: pointer">Previous</span>
                                                    </li>
                                                    <li [ngClass]="nextbutton == true ? 'disabled' : ''">
                                                        <span id="btm_next" (click)="nextClick()"
                                                              style="cursor: pointer">Next</span>
                                                    </li>
                                                    <li [ngClass]="lastbutton == true ? 'disabled' : ''">
                                                        <span id="btm_last" (click)="lastClick()"
                                                              style="cursor: pointer">Last</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="pull-left margin-top-05 parent">
                                            <div class="recap-status">
                                                <div class="inline-box margin-right-10">
                                                    <img class="status" src="../../../../assets/images/inRecap.png"
                                                         alt="In ReCAP" style="width: 20px; height: 25px"/><span
                                                        class="align-middle padding-5">In</span>
                                                </div>
                                                <div class="inline-box margin-right-10">
                                                    <img class="status" src="../../../../assets/images/out.png"
                                                         alt="Out" style="width: 20px; height: 25px"/><span
                                                        class="align-middle padding-5">OUT</span>
                                                </div>
                                                <div class="inline-box margin-right-10">
                                                    <img class="status" src="../../../../assets/images/mixed.png"
                                                         alt="Partial Availability"
                                                         style="width: 1.5em; height: 1.5em"/><span
                                                        class="align-middle padding-5">Partial Availability</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--show entries start-->
                                <div class="row" id="showEntriesAndNumFoundDiv" name="showEntriesAndNumFoundDiv">
                                    <div class="col-sm-2 margin-top-05 show-entries-section">
                                        <div class="">
                                            <span class="show-title">Show Entries</span>
                                            <select class="themed-input" id="numOfRecordsId" name="pageSize"
                                                    [(ngModel)]="showentries" (change)="onPageSizeChange(showentries)"
                                                    [ngModelOptions]="{ standalone: true }" style="margin-left: 5px">
                                                <option value="10" selected="selected">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-7 margin-top-10">
                                        <div class="row" style="
                        font-family: 'roboto-condensed', sans-serif;
                        color: #848484;
                        font-size: 14px !important;
                      ">OI - Owning Institution, SL - Storage Location, CC - Customer Code, CGD - Collection Group
                                            Designation, SH - Summary Holdings
                                        </div>
                                    </div>
                                    <div class="col-sm-3 text-right" *ngIf="!searchVal['showTotalCount']" style="
                      text-align: right;
                      font-family: 'roboto-condensed', sans-serif;
                      color: #848484;
                      font-size: 14px !important;
                    ">
                                        <span>Bibliographic Results Found:
                                            <span>{{ searchVal["totalBibRecordsCount"] }}</span></span><br/>
                                        <span>Item Results Found:
                                            <span>{{
                        searchVal["totalItemRecordsCount"]
                      }}</span></span>
                                    </div>
                                    <div class="col-sm-3 text-right" *ngIf="searchVal['showTotalCount']" style="
                      text-align: right;
                      font-family: 'roboto-condensed', sans-serif;
                      color: #848484;
                      font-size: 14px !important;
                    ">
                                        <span>Total Results Found:
                                            <span>{{ searchVal["totalRecordsCount"] }}</span></span>
                                    </div>
                                </div>
                                <!--show entries end-->
                                <!--tree grid start-->

                                <p-table name="p_table" #dt [columns]="cols" rowExpandMode="single" [autoLayout]="true"
                                         [value]="searchVal['searchResultRows']" [paginator]="false" [rows]="10"
                                         [showCurrentPageReport]="false"
                                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                         [rowsPerPageOptions]="[10, 25, 50, 100]" paginatorPosition
                                         selectionMode="checkbox"
                                         [(selection)]="selectedNodes1" (onHeaderCheckboxToggle)="
                    onTableHeaderCheckboxToggle1($event)
                  " dataKey="id" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr id="headers_main">
                                            <th id="header_checkBox" style="width: 6em">
                                                <label>Select All</label>
                                                <p-tableHeaderCheckbox id="hdr_checkbox"></p-tableHeaderCheckbox>
                                            </th>
                                            <th id="header_column_{{ i }}" *ngFor="let col of columns; let i = index"
                                                [pSortableColumn]="col.field" pTooltip="Sort this page's results">
                                                {{ col.header }}
                                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                                            ariaLabelDesc="Activate to sort in descending order"
                                                            ariaLabelAsc="Activate to sort in ascending order">
                                                </p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-expanded="expanded"
                                                 let-columns="columns" let-rowIndex="rowIndex">
                                        <tr id="rowData_results_{{ rowIndex }}">
                                            <td id="colData_main_{{ rowIndex }}"
                                                *ngIf="rowData.searchItemResultRows == ''">
                                                <p-tableCheckbox id="colData_checkBox_main_{{ rowIndex }}"
                                                                 [value]="rowData"></p-tableCheckbox>
                                            </td>
                                            <td id="colData_expand_results_{{ rowIndex }}"
                                                *ngIf="rowData.searchItemResultRows != ''">
                                                <a id="colData_toggler_{{ rowIndex }}" href="#" [pRowToggler]="rowData">
                                                    <i id="rowExpand_main_{{ rowIndex }}" [ngClass]="
                              expanded
                                ? 'pi pi-chevron-down'
                                : 'pi pi-chevron-right'
                            "></i>
                                                </a>
                                            </td>
                                            <td id="colData_column_{{ i }}" *ngFor="let col of columns; let i = index">
                                                <img class="status" src="../../../../assets/images/inRecap.png"
                                                     alt="In ReCAP" *ngIf="
                            col.field == 'title' &&
                            rowData.availability == 'Available'
                          " style="width: 20px; height: 25px; margin-bottom: 3px"/>
                                                <img class="status" src="../../../../assets/images/out.png" alt="Out"
                                                     *ngIf="
                            col.field == 'title' &&
                            rowData.availability == 'Not Available'
                          " style="width: 20px; height: 25px; margin-bottom: 3px"/>
                                                <img class="status" src="../../../../assets/images/mixed.png"
                                                     alt="Partial" *ngIf="
                            col.field == 'title' &&
                            rowData.availability == 'MixedStatus'
                          " style="width: 20px; height: 20px; margin-bottom: 3px"/>
                                                <a target="_blank" routerLink="/openMarcRecord"
                                                   [queryParams]="{ bibId: rowData['bibId'] }"
                                                   *ngIf="col.field == 'title'"
                                                   style="cursor: pointer">&nbsp;&nbsp;{{ rowData[col.field] }}</a><span
                                                    *ngIf="col.field != 'title' && col.field != 'imsLocation'">{{
                          rowData[col.field]
                        }}</span><span *ngIf="col.field == 'imsLocation' && rowData.searchItemResultRows == ''">{{
                            rowData[col.field]
                          }}</span><span *ngIf="col.field == 'imsLocation' && rowData.searchItemResultRows != ''"></span>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                                        <tr>
                                            <td name="column_len" [attr.colspan]="columns.length + 1">
                                                <div class="p-grid ui-fluid" style="font-size: 16px; padding: 20px"
                                                     [@rowExpansionTrigger]="'active'">
                                                    <div class="p-col-12 p-md-9">
                                                        <div class="p-grid" *ngIf="rowData.searchItemResultRows == ''">
                                                        </div>
                                                        <div class="p-grid" *ngIf="rowData.searchItemResultRows != ''">
                                                            <p-table name="p_tablesub" #dt1 [columns]="cols1"
                                                                     [paginator]="false" selectionMode="checkbox"
                                                                     (onHeaderCheckboxToggle)="
                                  onTableHeaderCheckboxToggle1($event)
                                " [(selection)]="selectedNodes2" [value]="rowData.searchItemResultRows"
                                                                     (onRowSelect)="onRowSelect($event)"
                                                                     (onRowUnselect)="onRowUnselect($event)">
                                                                <ng-template pTemplate="header" let-columns>
                                                                    <tr id="subRow_header">
                                                                        <th id="sub_header_checkbox" style="width: 3em">
                                                                            <p-tableHeaderCheckbox
                                                                                    id="sub_hdr_checkbox"></p-tableHeaderCheckbox>
                                                                        </th>
                                                                        <th *ngFor="let col of columns">
                                                                            {{ col.header }}
                                                                        </th>
                                                                    </tr>
                                                                </ng-template>
                                                                <ng-template pTemplate="body" let-rowData
                                                                             let-columns="columns"
                                                                             let-rowIndex="rowIndex">
                                                                    <tr id="rowData_subResults_{{ rowIndex }}"
                                                                        [ngClass]="{'row-child-clr':rowData.itemMatched == true}">
                                                                        <td id="col_sub_{{ rowIndex }}">
                                                                            <p-tableCheckbox
                                                                                    id="colSub_checkBox_{{ rowIndex }}"
                                                                                    [value]="rowData">
                                                                            </p-tableCheckbox>
                                                                        </td>
                                                                        <td id="dataResult_sub_col_{{ i }}"
                                                                            *ngFor="let col of columns; let i = index">
                                                                            <img class="status"
                                                                                 src="../../../../assets/images/inRecap.png"
                                                                                 alt="In ReCAP" *ngIf="
                                          col.field == 'callNumber' &&
                                          rowData.availability == 'Available'
                                        " style="
                                          width: 20px;
                                          height: 25px;
                                          margin-bottom: 3px;
                                        "/>
                                                                            <img class="status"
                                                                                 src="../../../../assets/images/out.png"
                                                                                 alt="In ReCAP" *ngIf="
                                          col.field == 'callNumber' &&
                                          rowData.availability ==
                                            'Not Available'
                                        " style="
                                          width: 20px;
                                          height: 25px;
                                          margin-bottom: 3px;
                                        "/>
                                                                            <span *ngIf="col.field == 'callNumber'">&nbsp;&nbsp;{{
                                          rowData[col.field]
                                        }}</span>
                                                                            <span *ngIf="col.field != 'callNumber'">{{
                                        rowData[col.field]
                                      }}</span>
                                                                        </td>
                                                                    </tr>
                                                                </ng-template>
                                                            </p-table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                            <div style="clear: both">&nbsp;</div>
                            <div class="margin-top-15 export-buttons" id="paginationAndButtons"
                                 name="paginationAndButtons"
                                 *ngIf="paginationBtmDiv">
                                <div class="pull-left" style="margin-top: -20px">
                                    <div id="paginationId" name="paginationName">
                                        <ul class="pagination">
                                            <li [ngClass]="firstbutton == true ? 'disabled' : ''">
                                                <span id="first" (click)="firstClick()"
                                                      style="cursor: pointer">First</span>
                                            </li>
                                            <li [ngClass]="previousbutton == true ? 'disabled' : ''">
                                    <span id="previous" (click)="previousClick()"
                                          style="cursor: pointer">Previous</span>
                                            </li>
                                            <li [ngClass]="nextbutton == true ? 'disabled' : ''">
                                                <span id="next" (click)="nextClick()"
                                                      style="cursor: pointer">Next</span>
                                            </li>
                                            <li [ngClass]="lastbutton == true ? 'disabled' : ''">
                                                <span id="last" (click)="lastClick()"
                                                      style="cursor: pointer">Last</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="margin-top: -20px">
                                    <button class="btn btn-primary pull-right" id="export" name="action" type="button"
                                            [disabled]="clicked" (click)="
                      searchExport();" value="export" style="margin-right: 10px">
                                        Export Selected Records
                                    </button>
                                    <button class="btn btn-primary pull-right" id="requestButton" name="action"
                                            type="button"
                                            (click)="routeToRequest()" [disabled]="clicked" value="request"
                                            style="margin-right: 10px">
                                        Request Selected Items(s)
                                    </button>
                                </div>
                            </div>
                            <!--show entries export end-->
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<!-- Search Tab-->